.container-logement {
    width: 90%;
    margin: 0 auto;
}

.img-logement {
    width: 100%;
    margin: 0 auto 20px;
    height: 415px;
    object-fit: cover;
    border-radius: 20px;
}

.container-collapse {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px ;
}

.title-logement {
    font-size: 2.25em;
    color: #FF6060;
    padding: 10px 0;
}

.location-logement {
    font-size: 1.25em;
    color: #000;
}