ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    padding-left: 50px;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    a {
        font-size: 12px;
        padding-left: 10px;
    }
    
}