.container_header {
  width: 90%;
  height: 68px;
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

@media screen and (max-width: 400px){
  .container_header {
    margin: 20px auto;
  }
  
}