.container_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    gap: 20px;
    width: 100%;
    margin-bottom: 55px;
    /* height: 830px; */
    background-color: #f6f6f6;
    border-radius: 25px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .container_gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /* height: 1300px; */
    }
    
}

@media screen and (max-width: 960px) {
    .container_gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /* height: 1300px; */
    }
}

@media screen and (max-width: 600px){
    .container_gallery {
        background-color: #FFFFFF;
        padding: 10px;
        gap: 10px;
        /* height: 100%; */
    } 
}

@media screen and (max-width: 400px){
    .container_gallery {
        margin-bottom: 10px;
    } 
    
}


